<form accept-charset="UTF-8" action="/control_panel/find" class="form-search" id="find_form" method="post">
  <div class='input-append find-block'>
    <input class="search-query find-song" id="find_query" name="find_query" type="search" value="" />
    <div class='btn' id='clear-btn'>X</div>
    <input class="btn" id="find_song_button" name="commit" type="submit" value="Search" />
  </div>
</form>
<ul id='songs_list'>
</ul>
<div id="error_block"></div>