<div>
  <span class="duration pull-right"><%= song.duration%></span>
  <div class="song_data">
    <span class="artist"><%= song.artist %></span>
    <span> - </span>
    <span class="title"><%= song.title %></span>
  </div>
</div>