%h1 Songs

= form_tag(control_panel_path, class:"form-search") do |form|
  = search_field_tag 'find_query', "", class: "search-query"
  = submit_tag 'find', class: "btn"

%ul.songs_list
  - @songs.each do |song|
    %li
      = render partial: "song_item", object: song   
        
