:javascript
  var long_poll_server_url = '#{@long_poll_server}'

%script#playlistItemTemplate{type:"text/x-jquery-tmpl"}
  - playlist_item = PlaylistItem.new
  - playlist_item.song = Song.new(artist:"${song.artist}", title:"${song.title}", duration:"${song.duration}")
  = render partial: "control_panel/playlist_item", object: playlist_item
= render partial: "control_panel/controls"
.container-fluid
  .row-fluid
    .span4
      = render partial: "control_panel/playlist"
    .span8
      #songs
