%h1 Listing playlist_items

%table
  %tr
    %th artist
    %th title
    
  - @playlist_items.each do |playlist_item|
    %tr
      %td= playlist_item.song.artist
      %td= playlist_item.song.title
    
%br

= link_to 'New Playlist item', new_playlist_item_path
