// Place all the styles related to the ControlPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songs_list {
  list-style-type: none;
}

.song {
  $border-radius: 5px;
  float: none;
  margin: 0 0 10px;
  padding: 10px;
  border: 3px solid #86b32d;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
  background-color: #c9f76f;

}

.song_data {
  vertical-align : middle;
  float: left;
}

.artist {

}

.title {

}

.add_to_playlist {
  padding: 0 2px 0 2px;
}