// Place all the styles related to the ControlPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songs_list {
  list-style: none;//inside url(/assets/musical_note.png);
  margin: 0;
}

.song {
  $border-radius: 3px;
  $shadow-right: 5px;
  $shadow-bottom: 5px;
  $shadow-blur: 20px;
  $shadow-color: #888;

  display: list-item;
  float: none;
  overflow: auto;
  margin: 0 0 15px;
  padding: 10px;

  // border: 3px solid #B6B6B6;
  -moz-box-shadow: $shadow-right $shadow-bottom $shadow-blur $shadow-color;
  -webkit-box-shadow: $shadow-right $shadow-bottom $shadow-blur $shadow-color;
  box-shadow: $shadow-right $shadow-bottom $shadow-blur $shadow-color;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;

  background-color: #ECECEC;

}

.song_form {
  margin: 0;
}

.song_data {
  vertical-align : middle;
  // float: left;
}

.artist {
  font-weight: bold;
}

.title {

}

.add_to_playlist {
  //padding: 0 2px 0 2px;
  //margin: 0 0 0 5px;
}

.find-song {
  width: 80%;
}

.find-block {
  width: 100%;
}

.downloaded {
  background-color: #D1FFB3;
}